<header>
  <h3 routerLink="/">Grammarly sample app</h3>
  <img src="" alt="" class="header-img">
  <nav class="header-nav">
    <ul class="header-link-list">
      <li class="header-link">
        <a routerLink="/todos"> Link 1</a>
      </li>
      <li class="header-link">
        <a routerLink="/second"> Link 2</a>
      </li>
      <li class="header-link">
        <a routerLink="/third"> Link 3</a>
      </li>
    </ul>
  </nav>
</header>

<!-- router view goes here -->
<div class="app-container">
  <router-outlet></router-outlet>
</div>

<footer>
  Grammarly test footer
</footer>
