.page-not-found {
    margin: 50px auto;
    text-align: center;


    .home-button {
        margin-top: 25px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: #32B491;
        padding: 1rem 2rem;
        cursor: pointer;
    }
}